* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navDiv {
  background-color: papayawhip;
  border-bottom: 3px solid blue;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  height: 3rem;
}


.navContent {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  white-space: nowrap; 
  overflow: hidden;
}

h2 {
  font-size: 1rem;
  color: darkblue;
  font-weight: bold;
  margin-right: auto;
}

.buttonGroup {
  display: flex;
  gap: 10px;
}


.navButton {
  padding: 6px 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: 1px solid blue;
  background-color: black;
  cursor: pointer;
}

.navButton:hover {
  background-color: lightblue;
}


.profileStatus {
  font-size: 0.8rem;
}



.logout {
  background-color: red;
}

.logout:hover {
  background-color: darkred;
}

.profileStatus {
  font-size: 0.9rem;
  color: darkslategray;
}

.completeProfileBtn {
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 0.9rem;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  float: left;
}

.completeProfileBtn:hover {
  background-color: darkgreen;
}


.dark {
  background-color: #333;
  color: #fff;
}

.dark .navButton {
  background-color: #555;
  color: #fff;
}

.dark .navButton:hover {
  background-color: #777;
}

.dark .logout {
  background-color: #d9534f;
}

.dark .logout:hover {
  background-color: #c9302c;
}

.dark .completeProfileBtn {
  background-color: #5cb85c;
}

.dark .completeProfileBtn:hover {
  background-color: #4cae4c;
}